:root{
    --color-primario: #037bc0;
    --bs-green: #8cbc00;
}

html{
    font-size: 62.55%;
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}

body{
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

h1, h2, h3{
    font-family: "Playfair Display", serif;
}

h1{
 font-size: 3.8rem;   
}

@media (min-width: 768px ){
    h1{
        font-size: 5rem;
    }
}

h2{
  font-size: 3.2rem;  
}

@media (min-width: 768px ){
    h2{
        font-size: 4rem;
    }
}

h3{
    font-size: 2.4rem;
}

@media (min-width: 768px ){
    h3{
        font-size: 3rem;
    }
}
.text-primary,
.nombre-sitio
{
    color: var(--color-primario)!important;
}

.bg-primary{
    background-color: var(--color-primario)!important;
}

.btn-success{
    background-color: var(--bs-green)!important;
}

.hero{
    background-image: url('../img/principal.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 25rem;
}

@media (min-width: 768px) {
    .hero{
        height: 55rem;
    }
}

/* Productos */

@media (min-width: 768px) {
    .producto img{
        height: 45rem;
        width: 100%;
        object-fit: cover;
    }
}

.categoria img{
    transition: transform .3s ease;
}

.categoria img:hover{
    transform: scale(1.2);
}
